/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.contour {
  fill: var(--accent-color, #000000);
  transition-timing-function: linear;
  transition-duration: 0.1s;
}
  
.main-body {
  fill: transparent;
  transition-timing-function: linear;
  transition-duration: 0.3s;
}
  
.core {
  fill: transparent;
  transition-timing-function: linear;
  transition-duration: 0.3s;
  transition-delay: 0.03s;
}
  
.sparks {
  opacity: 0;
}
  
.like-icon:hover .main-body {
  fill: var(--accent-color, #000000);
  transition-timing-function: linear;
  transition-duration: 0.3s;
  transition-delay: 0.05s;
}
  
.like-icon:hover .core {
  fill: var(--accent-color, #000000);
  transition-timing-function: linear;
  transition-duration: 0.3s;
}
  
.like-icon:active .main-body {
  fill: var(--heartred-color, #FF0000);
  transition-timing-function: linear;
  transition-duration: 0.3s;
  transition-delay: 0.05s;
}
  
.like-icon:active .core {
  fill: var(--heartred-color, #FF0000);
  transition-timing-function: linear;
  transition-duration: 0.3s;
}
  
.like-icon.is-liked .contour {
  fill: var(--heartred-color, #FF0000);
  transition-timing-function: linear;
  transition-duration: 0.3s;
  transition-delay: 0.06s;
}
  
.like-icon.is-liked .main-body {
  fill: var(--heartred-color, #FF0000);
  transition-timing-function: linear;
  transition-duration: 0.3s;
  transition-delay: 0.05s;
}
  
.like-icon.is-liked .core {
  fill: var(--heartred-color, #FF0000);
  transition-timing-function: linear;
  transition-duration: 0.3s;
}
  
.is-liked .heart {
  animation-name: heartrate;
  animation-delay: 0.1s;
  animation-duration: 0.3s;
  animation-direction: normal;
  transform-origin: center;
  animation-timing-function: ease-in;
}
  
.is-liked .sparks {
  animation-name: sparks;
  animation-delay: 0.3s;
  animation-duration: 0.3s;
  animation-direction: normal;
  transform-origin: center;
  animation-timing-function: ease-in;
}
  
@keyframes heartrate {
  0% {
    transform: scale(1);
  }
  
  50% {
    transform: scale(1.5);
  }
  
  100% {
    transform: scale(1);
  }
}
  
@keyframes sparks {
  0% {
    opacity: 0;
  }
  
  50% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}

